<!-- Filename: COMP229002-W2022-Midterm-301167069
Author: Mel Vincent Anonuevo
Student ID: 301167069
WebApp Name: Favorite Movie List -->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
