<!-- Filename: COMP229002-W2022-Midterm-301167069
Author: Mel Vincent Anonuevo
Student ID: 301167069
WebApp Name: Favorite Movie List -->

<% include partials/header.ejs %>

  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>


<% include partials/footer.ejs %>
